<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Template</title>
  </head>
  <body>
    <p>Hello <%= clientName %>,</p>

    <p>
      Thank you for getting in touch with me. I'm currently working in Pacific
      Standard Time(PST) and will follow up with you as soon as possible at <%=
      clientEmail %> about: <%= clientDetails %>.
    </p>

    <p>
      If you have any further questions or if there's anything you'd like more
      information on, please feel free to let me
      <a href="mailto:jared@lettsdev.ca">know</a>.
    </p>

    <p>
      Thank you for your consideration. I look forward to the possibility of
      working together.
    </p>

    <p>
      Best regards,<br />
      Jared Letts<br />
    </p>
  </body>
</html>
