---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero.svelte";
import ProjectSection from "../components/projectSection.svelte";
import ContactSection from "../components/contactSection.svelte";
import AboutSection from "../components/aboutSection.svelte";
import Footer from "../components/footer.svelte";
---

<Layout title="Jared Letts">
  <main>
    <Hero client:load />
    <ProjectSection client:load />
    <AboutSection client:load />
    <ContactSection client:load />
    <Footer client:load />
  </main>
</Layout>

<style></style>
